<a href="mailto:{{my_email}}" class="group relative inline-flex svg">
    <svg>
        <use href="#mail" />
    </svg>
    <span class="social-bubble">&nbsp;Mail&nbsp;</span>
</a>
<a href="{{my_github}}" target="_blank" class="group relative inline-flex svg">
    <svg>
        <use href="#github" />
    </svg>
    <span class="social-bubble">Github</span>
</a>
<a href="{{my_linkedin}}" target="_blank" class="group relative inline-flex svg">
    <svg>
        <use href="#linkedin" />
    </svg>
    <span class="social-bubble">Linkedin</span>
</a>
<a href="https://{{my_twitter}}" target="_blank" class="group relative inline-flex svg">
    <svg>
        <use href="#twitter" />
    </svg>
    <span class="social-bubble">&nbsp;&nbsp;X&nbsp;&nbsp;</span>
</a>
<a href="{{my_telegram}}" target="_blank" class="group relative inline-flex svg">
    <svg>
        <use href="#telegram" />
    </svg>
    <span class="social-bubble">Telegram</span>
</a>