{% extends 'base.html.twig' %}

{% block title %}Rostand MIGAN - Développeur Web{% endblock %}

{% block body %}
<section id="hero" class="my-10 md:min-h-[calc(70dvh-20px)] flex flex-col items-center justify-center px-10 py-20">
    <div class="flex items-center justify-center w-10/12 h-full max-w-7xl mx-auto">
        <div class="flex flex-col items-center justify-center text-center gap-4">
            <div>
                <span class="text-xs pl-1 italic">Bienvenue, je suis</span>
                <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-extrabold">
                    Rostand MIGAN
                </h1>
            </div>

            <div>
                <h2 class="text-lg/snug sm:text-xl/snug md:text-xl/snug lg:text-2xl/snug xl:text-3xl/snug 2xl:text-4xl/snug text-wrap font-bold text-orange-400"
                    data-controller="fixeTyped">
                    Développeur Web <span class="text-[0px]">Full Stack</span> <br>
                    <span {{ stimulus_controller('symfony/ux-typed', { strings: ['Full Stack','Symfony', 'React'
                        , 'Python' , 'Node.js' ], smartBackspace: true, startDelay: 0, backSpeed: 80, backDelay: 300,
                        loop: true, showCursor: true, cursorChar: '|' }) }} class="transition-all duration-300">
                    </span>
                </h2>
                <h3 class="text-[0px]">Développeur Web Freelance</h3>
            </div>

            <p class="text-base/relaxed text-wrap md:w-2/3">
                Développeur - Fintech Enthousiaste, je me dédie à la création d'applications web
                dynamiques et performantes, propulsant ainsi la transformation digitale et l'innovation financière.
            </p>

            <div class="flex items-center gap-2 justify-center md:justify-start mt-10">
                <a href="{{path('app_work')}}"
                    class="flex items-center justify-between py-2 px-4 font-semibold text-white text-sm border border-slate-600 bg-transparent hover:border-slate-600 hover:text-slate-100 overflow-hidden transition-all duration-150 ease-in-out rounded-full">
                    <span class="w-full text-left transition-all duration-200 ease-in-out">Réalisations</span>
                    <span class="ms-2 svg">
                        <svg>
                            <use href="#layer" />
                        </svg>
                    </span>
                </a>
                <a href="{{path('app_main_contact')}}"
                    class="flex items-center justify-between py-2 px-4 font-semibold text-white text-sm border border-slate-800 bg-slate-900 hover:border-slate-600 hover:text-slate-100 overflow-hidden transition-all duration-150 ease-in-out rounded-full">
                    <span class="w-full text-left transition-all duration-200 ease-in-out">Contact</span>
                    <span class="ms-2 svg">
                        <svg>
                            <use href="#plane" />
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="services" class="mt-0 pt-0">
    <div class="container mx-auto px-5 services">
        <div class="services-column">
            <div class="service-item intro">
                <div class="section-title">
                    <h2>
                        Services
                    </h2>
                </div>
                <div class="intro-description">
                    <p class="leading-relaxed">
                        Bienvenue dans mon espace dédié à la transformation de vos idées en solutions numériques
                        exceptionnelles. En tant que
                        développeur Full Stack passionné et polyvalent, je suis engagé à fournir des
                        <b>services de développement web et d'automatisation</b> qui répondent à vos besoins
                        uniques, que
                        vous soyez
                        une entreprise, un particulier, ou un recruteur à la recherche d'une expertise technique
                        de
                        premier ordre.
                    </p>
                </div>
            </div>
            <div class="service-item item-1">
                <div class="spider">
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="shadow"></div>
                </div>
                <div class="illustration">
                    <img src="{{asset('img/services/front-end.webp')}}" alt="" height="409" width="359">
                </div>
                <div class="service-title">
                    <h3 class="">
                        Développement Front-End
                    </h3>
                </div>
                <div class="service-description">
                    <p>
                        Découvrez des interfaces utilisateur engageantes et intuitives, conçues avec React et
                        Next.js, qui offrent à vos
                        utilisateurs une expérience fluide et mémorable.
                    </p>
                </div>
                <div class="service-action w-full flex items-center justify-start">
                </div>
            </div>
            <div class="service-item item-3">
                <div class="spider">
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="shadow"></div>
                </div>
                <div class="illustration">
                    <img src="{{asset('img/services/back-end.webp')}}" alt="" height="409" width="359">
                </div>
                <div class="service-title">
                    <h3 class="">
                        Développement Back-End
                    </h3>
                </div>
                <div class="service-description">
                    <p>
                        Avec Symfony (PHP), Django (Python) et des compétences avancées en gestion de base de
                        données, je crée depuis plus de 3 ans des architectures robustes et des fonctionnalités
                        backend qui garantissent
                        la sécurité, la scalabilité et la performance de vos applications web.
                    </p>
                </div>
            </div>
        </div>
        <div class="services-column">
            <div class="service-item item-2">
                <div class="spider">
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="shadow"></div>
                </div>
                <div class="illustration">
                    <img src="{{asset('img/services/cms.webp')}}" alt="" height="350" width="350">
                </div>
                <div class="service-title">
                    <h3 class="">
                        Solutions, clé en main
                    </h3>
                </div>
                <div class="service-description">
                    <p>
                        Besoin d'un site web personnalisé et facile à gérer ? Ma maîtrise de WordPress vous
                        assure
                        un site web attrayant,
                        fonctionnel et adapté à vos besoins spécifiques.
                    </p>
                </div>
            </div>
            <div class="service-item item-4">
                <div class="spider">
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="shadow"></div>
                </div>
                <div class="illustration">
                    <img src="{{asset('img/services/automatisation.webp')}}" alt="" height="409" width="359">
                </div>
                <div class="service-title">
                    <h3 class="">
                        Automatisation des Tâches
                    </h3>
                </div>
                <div class="service-description">
                    <p>
                        Grâce à des scripts Python personnalisés, je vous aide à automatiser vos processus
                        métiers,
                        réduisant ainsi le temps et
                        les coûts, tout en augmentant l'efficacité opérationnelle de votre entreprise.
                    </p>
                </div>
            </div>
            <div class="service-item item-5">
                <div class="spider">
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line horizontal"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="line vertical"></div>
                    <div class="shadow"></div>
                </div>
                <div class="illustration">
                    <img src="{{asset('img/services/webapps.webp')}}" alt="" height="409" width="359">
                </div>
                <div class="service-title">
                    <h3 class="">
                        Création de Sites et Applications Web Sur Mesure
                    </h3>
                </div>
                <div class="service-description">
                    <p>
                        Vous êtes une start-up innovante; une entreprise cherchant à renforcer sa présence en
                        ligne ou sur le point de lancer un produit ?

                    </p>
                    <p>
                        Je vous propose un service complet de création de site web, ainsi que de
                        développement d'applications sur mesure.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="dark-gradient py-10 mx-auto">
    <div class="container mx-auto section-content flex flex-col lg:flex-row-reverse my-8 justify-center">

        <div class="rostand w-full self-center md:w-2/3 lg:self-start lg:w-1/2 xl:self-start">
            <span class="gradient"></span>
            <img src="{{asset('img/rostand-migan.webp')}}" alt="" class="mx-auto object-cover" id="rostand-migan-img">
        </div>

        <div class="w-full px-2 lg:w-1/2 rostand-migan self-start pt-4 md:px-4">
            <h2
                class="text-center md:text-left text-xl tracking-tight font-extrabold sm:text-2xl lg:text-3xl mb-4 capitalize">
                <span class="text-orange-400">à la rencontre</span> de Rostand
            </h2>
            <p>
                Développeur Web Freelance, je construis des sites et applications
                Web, façonnant le succès global des clients. Jetez un coup d'œil à certains de mes travaux dans la
                section Réalisations.
            </p>
            <p>
                <b>“Chaque projet est une nouvelle aventure”</b>, et mon objectif est de vous accompagner
                dans chaque étape de la création de vos projets, du concept initial au déploiement final, en
                assurant une communication transparente et une attention méticuleuse aux détails.
            </p>
            <p>
                <b>Mon ambition</b> : promulguer des projets fintechs , notamment des applications
                de gestion (ERP) afin de contribuer à la numérisation des processus métiers dans les entreprises.
            </p>
            <p>
                Ouvert aux opportunités professionnelles et collaboratives, je suis disponible pour les projets où
                je peux appliquer mon savoir-faire, catalyser l'efficacité opérationnelle et repousser les
                frontières du numérique.
            </p>
            <p>
                <b>Vous avez un projet en tête ? Parlons-en et créons quelque chose d'exceptionnel ensemble.</b>
            </p>


            <div class="w-full flex items-center gap-2 justify-center md:justify-start mt-10">
                <a href="{{path('app_work')}}"
                    class="flex items-center justify-between py-2 px-4 font-semibold text-white text-sm border border-slate-800 bg-slate-900 hover:border-slate-600 hover:text-slate-100 overflow-hidden transition-all duration-150 ease-in-out rounded-full">
                    <span class="w-full text-left transition-all duration-200 ease-in-out">Réalisations</span>
                    <span class="ms-2 svg">
                        <svg>
                            <use href="#layer" />
                        </svg>
                    </span>
                </a>
                <a href="{{path('app_main_contact')}}"
                    class="flex items-center justify-between py-2 px-4 font-semibold text-white text-sm border border-slate-800 bg-slate-900 hover:border-slate-600 hover:text-slate-100 overflow-hidden transition-all duration-150 ease-in-out rounded-full">
                    <span class="w-full text-left transition-all duration-200 ease-in-out">Contact</span>
                    <span class="ms-2 svg">
                        <svg>
                            <use href="#plane" />
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="call-to-action">
    <div class="action-container">
        <div class="actions">
            <div class="action border-b border-b-rostBlue/50  sm:border-r sm:border-r-blue-600/50 sm:border-b-0">
                <article>
                    <h3 class="action__title">
                        Je construis des<br class="hidden sm:block">
                        sites et applications<br class="hidden sm:block">
                        web
                    </h3>
                    <p>
                        Projets <br class="hidden sm:block">
                        open source, web apps <br class="hidden sm:block">
                        et expérimentals.
                    </p>
                </article>

                <a href="{{path('app_work')}}"
                    class="relative inline-flex justify-center items-center gap-2 py-3 xl:py-4 px-4 uppercase rounded-sm border border-rostBlue text-rostBlue hover:text-white  duration-300 transition-all group overflow-hidden">
                    <div class="text-xs lg:text-sm 2xl:text-lg font-bold leading-none z-10">
                        Consultez Mes projets <span>&nbsp; &#8594;</span>
                    </div>
                    <div
                        class="absolute inset-0  bg-rostBlue transform -translate-x-full group-hover:translate-x-0 transition-transform duration-500 ease-in-out">
                    </div>
                </a>
            </div>

            <div class="action">
                <article>
                    <h3 class="action__title">
                        J'écris de temps <br class="hidden sm:block">
                        en temps sur des <br class="hidden sm:block">
                        sujets
                    </h3>
                    <p>
                        Mes projets <br class="hidden sm:block">
                        mes idées, le développement <br class="hidden sm:block">
                        web et mes expériences.
                    </p>
                </article>

                <a href="{{path('app_blog')}}"
                    class="relative inline-flex justify-center items-center gap-2 py-3 xl:py-4 px-4 uppercase rounded-sm border border-rostBlue text-rostBlue hover:text-white  duration-300 transition-all group overflow-hidden">
                    <div class="text-xs lg:text-sm 2xl:text-lg font-bold leading-none z-10">
                        Découvrez mon blog <span>&nbsp; &#8594;</span>
                    </div>
                    <div
                        class="absolute inset-0 bg-rostBlue transform -translate-x-full group-hover:translate-x-0 transition-transform duration-500 ease-in-out">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="get-in-touch" class="pb-0 dark-gradient">
    <a href="{{path('app_main_contact')}}" class="contact group relative">
        <h2
            class="hidden md:flex group-hover:opacity-0 opacity-100 group-hover:scale-0 absolute inset-0 justify-center items-center">
            Alors, on travaille
            ensemble ?
        </h2>
        <h2
            class="opacity-100 md:opacity-0 md:scale-0 group-hover:opacity-100 group-hover:scale-100 absolute inset-0 flex justify-center items-center">
            Contact
        </h2>
    </a>
</section>
{% endblock %}