<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link ps-0 {% if app.current_route=='admin_main' %}active fw-bold{% endif%}"
            href="{{path('admin_main')}}">Projets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.current_route=='admin_profil' %}active fw-bold{% endif%}"
            href="{{path('admin_profil')}}">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.current_route=='admin_stack' %}active fw-bold{% endif%}"
            href="{{path('admin_stack')}}">Stack</a>
    </li>
    <li class="nav-item">
        <a class="nav-link border-0 {% if app.current_route=='admin_filter' %}active fw-bold{% endif%}"
            href="{{path('admin_filter')}}">Filtres</a>
    </li>
</ul>
<div>
    <div class="btn-wrapper">
        <a href="#" class="btn btn-primary text-white me-0"><i class="icon-plus"></i>
            Ajouter un article</a>
        <a href="{{path('admin_project_add')}}" class="btn btn-primary text-white me-0"><i class="icon-plus"></i>
            Ajouter un projet</a>
    </div>
</div>