<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block turboMeta %}{% endblock %}
    <title>{% block title %}Rostand MIGAN - Développeur Web{% endblock %}</title>
    <meta name="author" content="Rostand MIGAN">
    <meta property="og:site_name" content="Rostand MIGAN">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap"
        rel="stylesheet">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22></text></svg>">

    <!-- Meta Description -->
    <meta name="description" content="{% block meta_description %}Explorez le portfolio de Rostand MIGAN, Développeur Web Full Stack Freelance. Spécialiste en création d'applications et sites web pour entreprises et particuliers.
{% endblock %}">

    <!-- Meta Keywords -->
    <meta name="keywords"
        content="{% block meta_keywords %}Développeur Web, Développeur Web Full Stack, Freelance, Conception d'Applications Web, Création de Sites Web, Développement Front-End, Développement Back-End, React, Next.js, Symfony, Django, Node.js, JavaScript, TypeScript, PHP, Python, HTML, CSS, Tailwind CSS, WordPress, ERP, Fintech, Automatisation des Tâches, Scripts Python, Gestion de Base de Données, UX Design, Responsive Design, Sécurité Web, Performance Web, Scalabilité, Solutions Clé en Main, Start-Up, Entreprises, Particuliers, France, Canada, Bénin, Développement Web Personnalisé, Expertise SEO{% endblock %}">

    <!-- Open Graph Metadata -->
    <meta property="og:title"
        content="{% block og_title %}Rostand MIGAN - Développeur Web FullStack & Fintech Enthousiaste{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Explorez le portfolio de Rostand MIGAN, Développeur Web Full Stack Freelance. Spécialiste en création d'applications et sites web pour entreprises et particuliers.
{% endblock %}">
    <meta property="og:image"
        content="{% block og_image %}{{absolute_url(asset('img/og_image/home.png'))}}{% endblock %}">
    <meta property="og:url"
        content="{% block og_canonical %}{{ url(app.request.get('_route'), app.request.get('_route_params')) }}{% endblock %}">
    <meta property="og:type" content="website">

    <!-- Twitter Card Metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title"
        content="{% block twitter_title %}Rostand MIGAN - Développeur Web FullStack & Fintech Enthousiaste{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Explorez le portfolio de Rostand MIGAN, Développeur Web Full Stack Freelance. Spécialiste en création d'applications et sites web pour entreprises et particuliers.
{% endblock %}">
    <meta name="twitter:image"
        content="{% block twitter_image %}{{absolute_url(asset('img/og_image/home.png'))}}{% endblock %}">
    <meta name="twitter:creator" content="@migan_rostand">
    <meta name="twitter:site" content="@migan_rostand">
    <meta property="twitter:domain" content="rostand-migan.com">
    <meta property="twitter:url"
        content="{% block twitter_canonical %}{{ url(app.request.get('_route'), app.request.get('_route_params')) }}{% endblock %}">

    <!-- Canonical Link -->
    <link rel="canonical"
        href="{% block canonical %}{{ url(app.request.get('_route'), app.request.get('_route_params')) }}{% endblock %}">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <menu data-controller="menu">
        <!-- Start Desktop Nav -->
        <div class="fixed top-0 right-0 z-30 left-0 w-screen">
            <header class="flex justify-center gap-8 bg-slate-50 transition-all h-[60px]">
                <nav class="p-2 md:px-4 max-w-7xl w-full flex items-center text-sm font-semibold">
                    <div class="flex items-center gap-2 flex-1">

                        <div class="flex items-center flex-1 justify-items-start">
                            <a class="font-bold text-xl transition-all menu-item group" href="{{path('app_main')}}"
                                id="logo">
                                <span class="">
                                    &#8249;/&#8250; rostand
                                </span>
                                <span class="sub-border group-hover:opacity-95 group-hover:scale-100"></span>
                            </a>
                        </div>

                        <!-- Start Mobile Nav -->
                        <button class="relative cursor-pointer w-8 h-8 inline-flex justify-center" id="hamburger-btn"
                            data-action="click->menu#toggleMenu" data-menu-target="hamburgerBtn">

                            <div class="inline-flex justify-end absolute top-4 -mt-0.5 h-1 w-6 rounded bg-rostBlue transition-all duration-400 
                                        before:absolute before:h-1 before:w-8 before:-translate-y-2 before:rounded before:bg-rostBlue 
                                        before:transition-all before:duration-400 before:content-[''] 
                                        after:absolute after:h-1 after:w-3 after:translate-y-2 after:rounded after:bg-rostBlue 
                                        after:transition-all after:duration-400 after:content-['']" id="line">
                            </div>

                            <div id="menulist" data-menu-target="menuList">
                                <nav
                                    class="w-screen h-dvh sm:h-auto sm:w-80 p-10 text-base flex flex-col justify-start gap-4 title-font font-medium tracking-normal leading-loose">
                                    <ul class="flex flex-col items-center justify-start gap-3" id="">
                                        <li class="w-full flex">
                                            <a href="{{path('app_work')}}" class="group menu-item">
                                                <span>Mes Réalisations</span>
                                                <span
                                                    class="sub-border group-hover:opacity-95 group-hover:scale-100"></span>
                                            </a>
                                        </li>

                                        <li class="w-full flex">
                                            <a href="{{path('app_resume')}}" class="group menu-item">Mon CV
                                                <span
                                                    class="sub-border group-hover:opacity-95 group-hover:scale-100"></span>
                                            </a>
                                        </li>

                                        <li class="w-full flex">
                                            <a href="{{path('app_blog')}}" class="group menu-item">Mon Blog
                                                <span
                                                    class="sub-border group-hover:opacity-95 group-hover:scale-100"></span>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="flex flex-col gap-3 mt-6 sm:mt-3">
                                        <a class="w-full inline-flex items-center text-start uppercase font-medium tracking-widest group menu-item hover:translate-x-2 transition-all duration-300 ease-linear"
                                            href="{{path('app_main_contact')}}">
                                            <span>Contact</span>
                                            <span class="ms-2 svg animate-bounce">
                                                <svg>
                                                    <use href="#plane" />
                                                </svg>
                                            </span>
                                        </a>

                                        <ul class="flex flex-col items-center justify-start gap-2 text-sm" id="">
                                            <li class="w-full flex">
                                                <a href="mailto:{{my_email}}" class="group menu-item">
                                                    <span>{{my_email}}</span>
                                                    <span
                                                        class="sub-border group-hover:opacity-95 group-hover:scale-100"></span>
                                                </a>
                                            </li>

                                            <li class="w-full flex">
                                                <a href="https://{{my_twitter}}" target="_blank"
                                                    class="group menu-item">{{my_twitter}}
                                                    <span
                                                        class="sub-border group-hover:opacity-95 group-hover:scale-100">
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="flex justify-center gap-5 social-links mt-10 sm:mt-4">
                                        {% include "_partials/_inline-contact.html.twig" %}
                                    </div>
                                </nav>
                            </div>
                        </button>
                        <!-- End Mobile Nav -->

                    </div>
                </nav>
            </header>
        </div>
        <!-- End Desktop Nav -->
    </menu>


    <div class="page-wrapper">
        {% block body %}{% endblock %}
    </div>


    <footer class="reverse-dark-gradient w-full p-10">
        <div class="container max-w-7xl mx-auto p-2 flex flex-col gap-4">
            <div class="flex flex-col sm:flex-row sm:space-x-36 md:space-x-56 lg:space-x-72">
                <div class="footer-contact space-y-4">
                    <span class="text-lg title-font font-medium text-slate-300/60">
                        Contactez-moi
                    </span>

                    <ul class="pl-3 flex flex-col items-center justify-start gap-2 text-base text-white">
                        <li class="w-full flex">
                            <a href="mailto:{{my_email}}" class="group menu-item">
                                <span>{{my_email}}</span>
                                <span class="sub-border group-hover:opacity-95 group-hover:scale-100"></span>
                            </a>
                        </li>

                        <li class="w-full flex">
                            <a href="https://{{my_twitter}}" target="_blank" class="group menu-item">{{my_twitter}}
                                <span class="sub-border group-hover:opacity-95 group-hover:scale-100">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="useful-link space-y-4 mt-4 sm:mt-0">
                    <span class="text-lg title-font font-medium text-slate-300/60 sm:invisible">
                        Liens utiles
                    </span>
                    <ul class="pl-3 flex flex-col justify-start gap-3 text-base/relaxed text-white">
                        <li class="{% if app.current_route=='app_main' %}hidden{% endif%}">
                            <a href="{{path('app_main')}}" class="group menu-item">
                                <span>Accueil</span>
                                <span class="sub-border group-hover:opacity-95 group-hover:scale-100">
                                </span>
                            </a>
                        </li>
                        <li class="{% if app.current_route=='app_work' %}hidden{% endif%}">
                            <a href="{{path('app_work')}}" class="group menu-item">
                                <span>Mes réalisations</span>
                                <span class="sub-border group-hover:opacity-95 group-hover:scale-100">
                                </span>
                            </a>
                        </li>
                        <li class="{% if app.current_route=='app_resume' %}hidden{% endif%}">
                            <a href="{{path('app_resume')}}" class="group menu-item">
                                <span>Mon CV</span>
                                <span class="sub-border group-hover:opacity-95 group-hover:scale-100">
                                </span>
                            </a>
                        </li>
                        <li class="{% if app.current_route=='app_blog' %}hidden{% endif%}">
                            <a href="{{path('app_blog')}}" class="group menu-item">
                                <span>Mon Blog</span>
                                <span class="sub-border group-hover:opacity-95 group-hover:scale-100">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div
                class="mylabor pt-8 border-t border-slate-50/5 flex flex-col-reverse gap-3 md:flex-row md:gap-0 justify-between items-center text-slate-300/60">
                <p class="text-center md:text-start">
                    @2024 Construis avec <span class="text-rostBlue">&#9829;</span> à partir de zéro et coder en
                    Tailwind CSS & Symfony par <a href="{{path('app_main')}}">Rostand</a>.
                </p>
                <div class="flex justify-center gap-5 social-links text-white">
                    {% include "_partials/_inline-contact.html.twig" %}
                </div>
            </div>
        </div>
    </footer>

    {% include "_partials/_icons.html.twig" %}
</body>

</html>