{% extends "adminBase.html.twig" %}

{% block body %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    {% include "_partials/_admin/_navTabs.html.twig" %}
                </div>
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="statistics-details d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="statistics-title">Bounce Rate</p>
                                        <h3 class="rate-percentage">32.53%</h3>
                                        <p class="text-danger d-flex"><i
                                                class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">Page Views</p>
                                        <h3 class="rate-percentage">7,682</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">New Sessions</p>
                                        <h3 class="rate-percentage">68.8</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span>
                                        </p>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <p class="statistics-title">Avg. Time on Site</p>
                                        <h3 class="rate-percentage">2m:35s</h3>
                                        <p class="text-success d-flex"><i
                                                class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <p class="statistics-title">New Sessions</p>
                                        <h3 class="rate-percentage">68.8</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span>
                                        </p>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <p class="statistics-title">Avg. Time on Site</p>
                                        <h3 class="rate-percentage">2m:35s</h3>
                                        <p class="text-success d-flex"><i
                                                class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-grow">
                            {% if works|length >= 1 %}
                            {% for work in works %}
                            <div class="col-12 col-lg-4 col-xl-3 grid-margin stretch-card">
                                <div class="card card-rounded" style="width: 380px !important;">
                                    <img class="card-img-top"
                                        src="{{ asset('uploads/work/thumbnail/' ~ work.thumbnail) }}"
                                        style="height: 360px; object-fit: cover;">
                                    <div class="card-body">
                                        <div class="d-sm-flex justify-content-between align-items-start">
                                            <div>
                                                <h4 class="card-title card-title-dash">
                                                    {{work.title}}
                                                </h4>
                                                <p class="card-subtitle card-subtitle-dash">
                                                    {{work.summary}}
                                                </p>
                                                <ul>
                                                    <li>
                                                        Lien du projet :
                                                        <a href="{{work.url}}">{{ work.url|replace({'http://': '',
                                                            'https://':
                                                            '', 'www.': ''})}}</a>
                                                    </li>
                                                    <li>
                                                        Type de lien : {{work.urlType}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-start">
                                            <div>
                                                <ul class="d-flex flex-row justify-content-between">
                                                    <li>
                                                        Modifier
                                                    </li>
                                                    <li>
                                                        Voir
                                                    </li>
                                                    <li>
                                                        Supprimer
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}