{% extends "adminBase.html.twig" %}

{% block body %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    {% include "_partials/_admin/_navTabs.html.twig" %}
                </div>
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                        <div class="row flex-grow">
                            <div class="col-lg-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Ajoutez votre Techno</h4>
                                        <p class="card-description"> Basic form layout </p>
                                        <form class="forms-sample" method="post" action="{{path('admin_stack_add')}}">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="addTechno" name="addTechno"
                                                    placeholder="Techno" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary text-white">Ajouter</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Modifiez une techno</h4>
                                        <form action="{{path('admin_stack_update')}}" class="forms-sample"
                                            method="post">
                                            <div class="form-group">
                                                <select name="techno" id="techno" class="form-select form-select-sm"
                                                    required>
                                                    <option value="">Choisir une techno</option>
                                                    {% if stack|length > 0 %}
                                                    {% for techno in stack %}
                                                    <option value="{{techno.id}}">{{techno.name}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="newName"
                                                    placeholder="Nouveau nom" required>
                                            </div>
                                            <button type="submit"
                                                class="btn btn-primary me-2 text-white">Soumettre</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-grow justify-content-center">
                            <div class="col-lg-8 col-xl-7 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Liste des Stacks ({{stack|length}})</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Technos</th>
                                                        <th colspan="2">In Projects</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if stack|length == 0 %}
                                                    <tr>
                                                        <td colspan="4">Aucune techno enregistrée</td>
                                                    </tr>
                                                    {% else %}
                                                    {% for techno in stack %}
                                                    <tr>
                                                        <td>{{techno.name}}</td>
                                                        <td colspan="2" style="text-wrap: pretty;">
                                                            {% if techno.project|length == 0 %}
                                                            Aucun projet affecté.
                                                            {% else %}
                                                            <ul
                                                                style="display: flex; flex-direction: row; flex-wrap: wrap; padding-left: 0;">
                                                                {% for project in techno.project %}
                                                                <li>{{project}}</li>
                                                                {% endfor %}
                                                            </ul>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <a class="badge badge-danger"
                                                                href="{{path('admin_stack_delete', {id:techno.id})}}"
                                                                style="outline: none; text-decoration: none;">Supprimé</a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}