{% extends 'base.html.twig' %}

{% block turboMeta %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}Portfolio | Rostand MIGAN{% endblock %}

{% block body %}
<section id="portfolio" class="min-h-[calc(100dvh-70px)]">
    <div class="p-2 md:px-4 w-full max-w-7xl mx-auto mt-10" data-controller="portfolio">
        <h1 class="mt-3 text-2xl font-bold text-slate-700 uppercase text-center">Portfolio</h1>
        <h2 class="italic text-center my-3">Découvrez une sélection de mes projets professionnels.</h2>
        <div class="portfolio-category w-full flex justify-center gap-2 flex-wrap md:gap-4"
            data-portfolio-target="filterActions">
            <button class="selector active" data-filter="*" data-action="click->portfolio#filter">
                <div class="text-sm font-medium leading-none">Tous</div>
            </button>
            {% if filters|length > 0 %}
            {% for filter in filters %}
            <button class="selector" data-filter="{{filter.slug}}" data-action="click->portfolio#filter">
                <div class="text-sm font-medium leading-none">{{filter.name}}</div>
            </button>
            {% endfor %}
            {% endif %}
        </div>
        <div class="portfolio-projects" data-portfolio-target="portfolioProjects">

            {% if works|length >0 %}
            {% for work in works %}
            <a href="{{path('app_work_detail', {slug:work.slug})}}" title="Voir les détails"
                class="project group {% if work.filters %}{% for filter in work.filters %}{{filter.slug}} {% endfor %}{% endif %}">
                <div
                    class="absolute inset-0 rounded-2xl bg-slate-500 w-full h-[208px] overflow-hidden group-hover:h-full transition-all duration-500">
                    <img class="w-full h-full object-cover"
                        src="{{ asset('uploads/work/thumbnail/' ~ work.thumbnail) }}">
                </div>
                <div class="p-6 flex flex-col gap-2 text-slate-700">
                    <div class="flex gap-2 text-2xl items-center">
                        <h3 class="text-2xl font-bold font-secondary line-clamp-1 text-slate-700">
                            {{work.title}}
                        </h3>
                    </div>
                    <p class="text-base font-medium text-slate-600 leading-[140%] text-left line-clamp-2">
                        {{work.summary}}
                    </p>
                    <p class="text-xs font-medium text-sky-600 leading-[140%] text-left line-clamp-1">
                        {% if work.stacks|length > 0 %}
                        {% for stack in work.stacks %}
                        #{{stack.name}}
                        {% endfor %}
                        {% endif %}
                    </p>
                    <span class="lg:hidden text-xs font-bold text-sky-600 leading-[140%] text-left">&#8594;
                        Détails</span>
                </div>

                <div class="absolute mx-auto bottom-[10%] left-1/2 -translate-x-1/2">
                    <button
                        class="rounded-full py-2 px-6 flex items-center gap-2 opacity-0 bg-slate-800 text-sky-50 transition-all duration-500 group-hover:animate-portfolio-action">
                        <div class="text-sm font-medium leading-none">
                            {{work.title}} -->
                        </div>
                    </button>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}